:root {
	--main-color: #e4f9f5;
	--secondary-color: #66bfbf;
	--light-color: #eaf6f6;
	--dark-color: #40514e;
	--dark-main-color: #526881;
	--regular-pading: 100px;
	--second-regular-padding: 50px;
}
* {
	font-family: "Roboto", sans-serif;
}
body {
	margin: 0;
	text-align: center;
	color: var(--dark-color);
}
h1 {
	font-size: 5.625rem;
	color: var(--secondary-color);
	line-height: 2;
}
h2 {
	color: var(--secondary-color);
	font-size: 2.5rem;
	font-weight: normal;
	padding-bottom: 40px;
}
h3 {
	color: var(--secondary-color);
	font-size: 1.5rem;
	font-weight: normal;
}
p {
	line-height: 2;
}
a {
	color: var(--light-color);
	margin: 10px 20px;
	text-decoration: none;
}
a:hover {
	color: var(--dark-main-color);
}
hr {
	border: dotted var(--light-color) 6px;
	border-bottom: none;
	width: 20%;
	margin: 100px auto;
}
.top-container {
	background-color: var(--dark-main-color);
	position: relative;
	padding-top: var(--regular-pading);
	text-align: center;
	padding-left: var(--regular-pading);
	color: var(--secondary-color);
}
.pro-text {
	text-decoration: underline;
}
/*
.top-container:hover {
	background-color: var(--dark-main-color);
	position: relative;
	padding-top: 100px;
	text-align: center;
	padding-left: var(--second-regular-pading);
	color: #fff;
}*/
.intro {
	width: 40%;
	margin: auto;
}
.top-cloud {
	/* position: absolute; */
	animation: cloud-movement 60s linear infinite;
}
.bottom-cloud {
	position: absolute;
	animation: cloud-movement 40s linear infinite;
}
@keyframes cloud-movement {
	0%,
	100% {
		transform: translateX(2000px);
		transform: scale(2);
	}
	50% {
		transform: translateX(-800px);
	}
}
.profile_img {
	margin: 1rem;
	width: 10%;
}
.skills {
	margin: 50px;
}
.skill-row {
	width: 50%;
	margin: 100px auto 100px auto;
	text-align: left;
	line-height: 2;
}
.dev-img {
	width: 25%;
	float: left;
	margin-right: 30px;
}
.team-img {
	width: 25%;
	float: right;
	margin-left: 30px;
}
.contact-me {
	width: 40%;
	margin: 40px auto 60px;
}
.middle-container {
	margin: 100px 0;
}
.bottom-container {
	background-color: var(--secondary-color);
	padding: 50px 0 20px;
}
.copy-right {
	color: var(--dark-color);
	padding: 20px 0;
}
.btn {
	background: #11cdd4;
	background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
	background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
	background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
	background-image: -o-linear-gradient(top, #11cdd4, #11999e);
	background-image: linear-gradient(to bottom, #11cdd4, #11999e);
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.btn:hover {
	background: #30e3cb;
	background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
	text-decoration: none;
}
